/* LAYOUT */

.main-layout {
    max-width: 1000px;
}

.img-container {
    border-color: black;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    cursor: pointer;
    width: 150px;
    margin: 1px;
}

canvas {
    /* display: block; */
    border: 2px solid black;
    margin: auto;
}