/* FONTS */

@font-face {
    font-family: PoppinsM;
    src: url(../design/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsL;
    src: url(../design/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: PoppinsSB;
    src: url(../design/fonts/Poppins-SemiBold.ttf);
}


/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #22252c;
}

button {
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.header-contant .nav-item.active {
    color: #21ac91;
    background-color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2em;
}

.main-layout {
    max-width: 430px;
}

.screen {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.383);
    opacity: 0;
    transition: opacity 1s;
}

.dark {
    opacity: 1;
    position: fixed;
    cursor: pointer;
}


/* HEADER */

.header-contant {
    margin: 10px auto;
    padding: 0 10px;
    /* border-radius: 2em; */
    background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    justify-content: space-between;
}

.header-contant .logo-img {
    height: 20px;
}

.main-nav {
    position: absolute;
    flex-direction: column;
    background-color: #0c98b9;
    border-radius: 2em 0 2em 2em;
    top: -50%;
    right: 0;
    transition: top 1s;
    /* top: 60px;
    right: -80%;
    transition: right 1s; */
}

.open-mobile {
    top: 60px;
    /* right: 0; */
}

.header-contant .nav-item {
    padding: 0.2em 1em;
    margin: 30px 10px;
    font-family: PoppinsM;
    font-size: 1.3125rem;
    height: 2em;
    background-color: rgba(255, 0, 0, 0);
}

.hamburger {
    height: 50px;
    font-family: PoppinsM;
    font-size: 1.3125rem;
}


/* GALLERY */

.gallery-section {
    background-color: #383b42;
    padding: 20px 10px;
    border-radius: 10px;
    margin: auto;
}

.nav-gallery>* {
    border-radius: 2em;
    font-family: PoppinsL;
    padding: 5px 20px;
    display: inline-block;
}

.nav-gallery>*:not(:first-child) {
    margin-inline-start: 1%;
}

.nav-gallery .search-gallery {
    display: block;
    margin-bottom: 10px;
    background-color: #22252c;
    width: 100%;
    border: none;
    color: #fefefe;
}

.nav-gallery .key-words {
    width: 72%;
    background-color: rgb(254, 254, 254, 0.4);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.4);
}

.nav-gallery .gallery-btn {
    width: 22%;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.gallery-contant {
    justify-content: space-around;
    padding: 20px;
}

.image {
    cursor: pointer;
    height: 110px;
    margin: 15px;
}


/* MEME EDITOR */

.meme-editor {
    flex-direction: column;
    padding: 2% 10px;
    margin: auto;
}

.meme-editor .canvas-container {
    display: none;
    margin-bottom: 20px;
    /* background-image: url(../design/img/Forme_1.png); */
}

canvas {
    border: 4px solid rgba(235, 238, 243, 0.11);
    border-radius: 2em;
    margin: auto;
}

.meme-editor .tools-container {
    display: none;
    width: 350px;
    margin: 0 20px;
    border-radius: 2em;
    padding: 10px;
    background-color: rgba(235, 238, 243, 0.11);
    box-shadow: 1px 5px 0 rgba(235, 238, 243, 0.05), inset 0 1px 0 rgb(255, 255, 255, 0.07);
}

.tools-container img {
    height: 25px;
}

.tools-container .tool {
    margin: 0 auto 20px auto;
    text-align: center;
}

.tools-container .txt-input {
    display: block;
    margin: 0 auto 20px auto;
    width: 90%;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 2em;
    text-align: center;
    font-family: PoppinsM;
    color: #3d3d3d;
    font-size: 1.5625rem;
}

.tools-btn {
    margin-left: 10px;
    color: #22252c;
    font-size: 1.6875rem;
    font-family: PoppinsSB;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.tools-container .switch-line {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.tools-container .add-line {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.tools-container .delete-line {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.tools-container .tools2 {
    width: 95%;
    background-color: #19a59f;
    border-radius: 2em;
    padding: 15px;
}

.tools-container .tools2 button,
.tools-container .tools2 select,
.tools-container .tools2 label,
.tools-container .tools2 color {
    margin: 0 13px 15px 0;
}

.tools-container .type-font {
    width: 120px;
    font-size: 20px;
}

.tools-container input {
    display: none;
}

.tools-container .save {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.tools-container .download {
    text-decoration: none;
    background-color: #8f44bb;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #9373a7;
}

.tools-container .tools3 button,
.tools-container .tools3 a {
    color: #ffffff;
    font-family: PoppinsM;
    font-size: 1.3125rem;
    width: 170px;
}


/* MY MEMES */

.previous-memes {
    display: none;
    background-color: #383b42;
    padding: 20px 10px;
    border-radius: 10px;
    margin: auto;
}


/* HELPERS */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* DESKTOP */

@media (min-width: 460px) {
    .main-layout {
        max-width: 1200px;
    }
    .header-contant {
        margin: 10px auto;
        padding: 0 80px;
        border-radius: 2em;
        background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        justify-content: space-between;
    }
    .header-contant .logo-img {
        height: 30px;
    }
    .header-contant .main-nav {
        position: static;
        /* display: inline-block; */
        flex-direction: row;
        background-color: rgba(65, 78, 87, 0);
    }
    .header-contant .nav-item {
        margin: 10px;
    }
    .hamburger {
        display: none;
    }
    .nav-gallery .search-gallery {
        display: inline-block;
        width: 30%;
        margin-bottom: 0;
    }
    .nav-gallery .key-words {
        width: 50%;
    }
    .nav-gallery .gallery-btn {
        width: 15%;
    }
    .image {
        cursor: pointer;
        height: 170px;
        margin: 15px;
    }
    .meme-editor {
        flex-direction: row;
    }
    .meme-editor .tools-container {
        width: 465px;
        height: 465px;
    }
}